body
{
 background-color:plum;
 /*background-color: #ff0000;*/
 /*background-color: rgb(255,0,0);*/
    
}
h1  {
    color:blue;
    font-size: 150px;
    text-decoration:underline;
    text-transform:capitalize
}
.img1 {border: 30px ridge brown;}
p
{
    font-size: 30px;
    color: violet;
    background-color: rgb(41, 84, 109);
    padding: 15px;
    width: 70%;
    height: auto;
    text-align: left;
    float: left;
    /*color:white;*/
}
.paragraph
{
    background-color: rgb(34, 29, 29);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    padding:30px;
    wight:60%;
    height: auto;
    text-align: justify;
    word-spacing: 10px;
    text-indent: 20px;
    float: right;
}